body { padding-top: 70px; }


.img-preview {
  float: left;
  margin-right: 10px;
  overflow:hidden;
  margin-bottom: -15px;
  margin-top: -15px;
}

.img-container {
  height: 700px;
}

.img-preview > img {
  max-width: 100%;
}

.preview-md {
  width: 128px;
  height: 64px;
}

#preview-bw {
  margin-bottom: -15px;
  margin-top: -15px;
  border: 3px solid black;
}

#url {
  width:250px;
  display: inline-block;
}

